html{
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f9fafc;
  font-family: -apple-system, BlinkMacSystemFont, 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
