* {
  font-family: "Quicksand", serif;
}


html{
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f9fafc;
  font-family: "Quicksand", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: "Quicksand", serif;
}


input, textarea, button, select {
  font-family: inherit;
}